
@{
    ViewData["Title"] = "AGL";
}
<section class="content">
    <center>
        <img style="height: 20vh;" src="~/images/works/AGL.png" />
    </center>
    <h1>AllGameLauncher</h1>
    <div>
        <p class="bigp">
            У меня на компьютере установлено много игр из разных магазинов. Чтобы было удобнее их запускать я написал лаунчер игр. Теперь игру можно запустить из любого магазина.
        </p>
        <p class="bigp">
            Первую версию я написал на WinForms, заодно подробнее познакомившись с этой технологиейПервую версию я написал на WinForms, заодно подробнее познакомившись с этой технологией.
        </p>
        <img class="exImg" src="~/images/works/AGLWF1.png" />
        <img class="exImg" src="~/images/works/AGLWF2.png" />
        <p class="bigp">
            Вторая версия написана на WPF
        </p>
        <img class="exImg" src="~/images/works/AGLWPF1.png" />
        <img class="exImg" src="~/images/works/AGLWPF2.png" />
        <img class="exImg" src="~/images/works/AGLWPF3.png" />
        <img class="exImg" src="~/images/works/AGLWPF4.png" />
        <p class="bigp">
            Третья версия на UWP
        </p>
        <img class="exImg" src="~/images/works/AGLUWP.png"/>
    </div>
</section>