
@{
    ViewData["Title"] = "DSGameBot";
}
<section class="content">
    <center>
        <img style="height: 20vh;" src="../images/works/gtacompare.png" />
    </center>
    <h1>DSGameBot</h1>
    <p>
        Это просто бот для Discord с несколькими простенькими командами
    </p>
</section>