
@{
    ViewData["Title"] = "GTACompare";
}
    <section class="content">
        <center>
            <img style="height: 20vh;" src="../images/works/gtacompare.png" />
        </center>
        <h1>GTA Compare</h1>
        <p>
            Это мой 3 проект в Яндекс Лицее<br />
            Я решил сделать сайт который в подробностях сравнивает характеристики объектов. В качестве объектов сравнения я решил выбрать автомобили из ГТА онлайн. Все их характеристики уже известны, а всяких тонкостей в их сравнении нет.<br />
            Смысл моего сайта в том, чтобы пользователь мог:<br />
            1) Посмотреть подробно характеристики.<br />
            2) Удобно сравнить их, так как это сделано на сайте userbenchmark.com.<br />
            Сайт состоит из нескольких станиц и базы данных.<br />
            На первой странице представлена библиотека сайта. С неё можно перейти на страницу сравнения либо на страницу каждого автомобиля в отдельности. На этой странице показана вся информация о т/с записанная в базе данных. Здесь же можно оставить комментарий про этот транспорт, но это может сделать только зарегистрированный пользователь.<br />
            Вторая страница, на которую можно перейти с главной - эта страница сравнения. Здесь простая форма, состоящая из всех авто из базы данных. Выбрав нужные пользователю т/с, пост запрос перенаправит его на страницу сравнения.<br />
            Здесь в виде таблицы представлены все имеющиеся в базе данных характеристики. Пользователь может выбрать для сравнения сколько угодно объектов.<br />
            Мой сайт имеет собственный API. В запрос можно передать характеристики, по которым API выберет все подходящие объекты. Если характеристика не важна, её можно указать как null.<br />
            В своем проекте я использовал такие технологии, как<br />
            •	Flask<br />
            •	SQLChemy<br />
            •	Flask-login<br />
            •	Flask-WTF<br />
            •	JSON<br />
            •	Bootstrap<br />
        </p>
        <a href="https://github.com/OOjeser/Y.L.Project3_Flask">GitHub</a>
        <br />
        @for (int i = 1; i <= 2; i++)
        {
            if (ViewBag.Br == "Mobile")
            {
                <img style="width:100%;" src="../images/works/GTACompare @i .png" />
            }
            else
            {
                <img style="height:30vh;" src="../images/works/GTACompare @i .png" />
            }
        }
    </section>