
@{
    ViewData["Title"] = "VkStatusTranslator";
}
<section class="content">
    <center>
        <img style="height: 20vh;" src="../images/works/VkStatusTranslator.png" />
    </center>
    <h1>VkStatusTranslator</h1>
    <p>
        создал это приложение для того, чтобы научиться работать с vk api.<br />
        Само приложение читает запущенные процессы и относительно этого через vk api устанавливает статус.
    </p>
</section>
