

@{
    ViewData["Title"] = "WebP Convert";
}
    <section class="content">
        <center>
            <img style="height: 20vh;" src="../images/works/webpwpf.png" />
        </center>
        <h1>WPF WebP Convertor</h1>
        <p>
            Для более ьыстрой работы своего сайта я решил перевести некоторые из картинок в формат WebP, но у конвертора от гугл консольный интерфейс, который не позволяет удобно и эффективно конвертировать несколько изображений. Для удобства, я сделал интерфейс на WPF для этого конвертора, и сделал возможность удобнее переводить несколько изображений.

        </p>
        <img src="~/images/works/wpex2.png" height="300" />
        <img src="~/images/works/wpex1.png" height="300" />
        <p><a href="https://github.com/OOjeser/WPF-WebPConverter">Github</a></p>
    </section>

