
<link rel="shortcut icon" href="../images/MyLogo.png">
<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="application-name" content="Гавриленко Сергей">
<meta name="msapplication-TileColor" content="#FFFFFF">
<link rel="yandex-tableau-widget" href="~/manifests/manifest.json"/>
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>00jeser</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}

