@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <br />
    <h1 style="text-align: center;">Обо мне</h1>
    <p>
        Я Гавриленко Сергей Константинович, друзья зовут меня Се́рга. 
        Мне @(((DateTime.Now - (new DateTime(2002, 11, 15, 13, 30, 00, 00))).TotalDays / 365.25d).ToString()) лет
    </p>
</section>

