<section class="fh5co-top-banner">
    <div class="top-banner__inner site-container">
        <div class="top-banner__image">
            <img src="~/images/top-banner-author.jpg" alt="author image">
        </div>
        <div class="top-banner__text">
            <div class="top-banner__text-up">
                <span class="brand-span">Привет я</span>
                <h2 class="top-banner__h2">Гавриленко</h2>
            </div>
            <div class="top-banner__text-down">
                <h2 class="top-banner__h2">Сергей</h2>
                <span class="brand-span">Программист</span>
            </div>
            <p></p>
            <a href="/home" class="brand-button">Поюробнее про меня лично > </a>
            <a href="/home" class="brand-button">Поюробнее про меня как про программиста > </a>
        </div>
    </div>
</section>