@if (ViewBag.Br == "Mobile")
{
    <section class="content">
        <center>
            <div>
                <img width="100%" src=@ViewBag.ImagePath>
            </div>
            <div class="about-text">
                <p><br /></p>
                <p class="about-text-work" style="font-size: 4vmin;">Программист</p>
                <p class="about-text-surname">Гавриленко</p>
                <p class="about-text-firstname">Сергей</p>
                <center>
                    <div class="MetroButton MetroButtonA moreButton">
                        <a>Подробнее обо мне лично</a>
                    </div>
                    <div class="MetroButton MetroButtonA moreButton">
                        <a>Подробнее про мои навыки</a>
                    </div>
                </center>
            </div>
            <br />
        </center>
    </section>
}
else
{
    <section class="content">
        <div class="site-container">
            <div class="sidebar">
            </div>
            <div class="site-container-content">
                <center>
                    <img src=@ViewBag.ImagePath>
                </center>
                <div class="about-text">
                    <p class="about-text-work" style="font-size: 2vmin; margin-bottom: -3vw;">Программист</p>
                    <p class="about-text-surname">Гавриленко</p>
                    <p class="about-text-firstname">Сергей</p>
                </div>
                <div class="more">
                    <center style="width:100%; align-content:center;">
                        <a href="../Qualification">
                            <div class="MetroButton MetroButtonA moreButton">
                                <p>Подробнее обо мне лично</p>
                            </div>
                        </a>
                    </center>
                    <center style="width:100%; align-content:center;">
                        <a href="../Qualification">
                            <div class="MetroButton MetroButtonA moreButton">
                                <p>Подробнее про мои навыки</p>
                            </div>
                        </a>
                    </center>
                </div>
            </div>
            <div class="sidebar">
            </div>
        </div>
    </section>
}