.title {
    font-size: 25px;
    margin: 3px;
}
.discr {
    font-size: 15px;
    margin: 3px;
}

.knowledge-l-p {
    font-size: 20px;
    line-height: 23px;
    display: grid;
    grid-template-columns: 100px auto 90px;
    width: 100%;
}
.knowledge-t-p {
    font-size: 20px;
    line-height: 23px;
    display: grid;
    grid-template-columns: 100px auto;
    width: 100%;
}

.knowledge {
    width: 90%;
    border: 0;
    height: 10px;

    display: table-cell;
    text-align: center;
    vertical-align: middle;

    border-radius: 0px;
    background: #ffffff;
    margin: auto;
}

    .knowledge::-webkit-progress-bar {
        background: #fff;
    }

    .knowledge::-webkit-progress-value {
        background: #00a1ff;
    }

    .knowledge::-moz-progress-bar {
        background: #0af;
    }

.container{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 55% 45%;
}

.Work {
    margin-top: 0px !important;
    display: grid;
    grid-template-columns: 10vh auto;
}

@media (max-width: 790px) {
    .container {
        margin-left: 1vw;
        width: 95vw;
    }
}
